<app-nav-bar>

</app-nav-bar>

<!-- Page Header Start -->


<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">İletişim</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" href="">Anasayfa</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">İletişim</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Contact Start -->
<div class="container pt-5">
    <div class="d-flex flex-column text-center mb-5">
        <h4 class="text-primary font-weight-bold">İletişimde Kalın</h4>
        <h4 class="display-4 font-weight-bold">Herhangi bir sorunuz için bize ulaşın!</h4>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col text-center mb-4">
            <i class="fa fa-envelope-o mb-3 text-primary"></i>
            <h4 class="font-weight-bold">Email</h4>
            <p class="h2 mt-3">arenagym@gmail.com</p>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col text-center mb-4">
            <i class="fa fa-phone mb-3 text-primary"></i>
            <h4>Telefon</h4>
            <p class="h2 mt-3">+90 545 940 1074</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col text-center mb-4">
            <i class="fa fa-whatsapp mb-3 text-primary"></i> <br>
            <a class="h2 mt-3" class="font-weight-bold" href="http://wa.me/message/BL7R6MWJXWFQO1">Whatsapp Üzerinden Bizimle İletişime Geçmek İçin Tıklayın</a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col text-center mb-4" style="margin-left: 370px;">
            <i class="fa fa-map-marker mb-3 text-primary"></i>
            <h4>Adres</h4>
            <p class="h2 mt-3">Papuççular, Değirmenhan Sk. No:8/A, 54100 Adapazarı/Sakarya</p>
        </div>
    </div>
    <div class="row">
        <!-- <div class="col-md-6 pb-5">
            <iframe src="https://www.google.com.tr/maps/place/Arena+Spor+Salonu/@40.7728774,30.4001335,17z/data=!3m1!4b1!4m5!3m4!1s0x14ccb331f5e894cd:0x3f5879a439719a5a!8m2!3d40.7728734!4d30.4023222?hl=tr" style="border:0;"></iframe>
        </div> -->
        <div class="col-md-6 pb-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.506513258087!2d30.40013351481754!3d40.77287744182692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ccb331f5e894cd%3A0x3f5879a439719a5a!2sArena%20Spor%20Salonu!5e0!3m2!1str!2str!4v1670424707722!5m2!1str!2str"
                width="550" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="col-md-6 pb-5">
            <div class="contact-form">
                <div id="success"></div>
                <form name="sentMessage" id="contactForm" novalidate="novalidate">
                    <div class="control-group">
                        <input type="text" class="form-control" id="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="email" class="form-control" id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input type="text" class="form-control" id="subject" placeholder="Subject" required="required" data-validation-required-message="Please enter a subject" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <textarea class="form-control" rows="6" id="message" placeholder="Message" required="required" data-validation-required-message="Please enter your message"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn btn-outline-primary" type="submit" id="sendMessageButton">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->

<app-footer></app-footer>