<app-nav-bar>

</app-nav-bar>

<!-- Page Header Start -->


<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">İletişim</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" href="">Anasayfa</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">İletişim</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Contact Start -->
<div class="container pt-5">
    <div class="d-flex flex-column text-center mb-5">
        <h4 class="text-primary font-weight-bold">İletişimde Kalın</h4>
        <h4 class="display-4 font-weight-bold">Herhangi bir sorunuz için bize ulaşın!</h4>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col text-center mb-4">
            <i class="fa fa-envelope-o mb-3 text-primary"></i>
            <h4 class="font-weight-bold">Email</h4>
            <p class="h2 mt-3">arenagym@gmail.com</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col text-center mb-4">
            <i class="fa fa-map-marker mb-3 text-primary"></i>
            <h4>Adres</h4>
            <p class="h2 mt-3">Papuççular, Değirmenhan Sk. No:8/A, 54100 Adapazarı/Sakarya</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col text-center mb-4">
            <i class="fa fa-phone mb-3 text-primary"></i>
            <h4>Telefon</h4>
            <p class="h2 mt-3 mb-4">+90 545 940 1074</p>
            <a class="font-weight-bold" href="http://wa.me/message/BL7R6MWJXWFQO1">Whatsapp Üzerinden Bizimle İletişime Geçmek İçin Tıklayın</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 pb-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3021.506513258087!2d30.40013351481754!3d40.77287744182692!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ccb331f5e894cd%3A0x3f5879a439719a5a!2sArena%20Spor%20Salonu!5e0!3m2!1str!2str!4v1670424707722!5m2!1str!2str"
                width="1100" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
<!-- Contact End -->

<app-footer></app-footer>