<app-admin-navbar></app-admin-navbar>

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Blog Güncelleme Sayfası</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" [routerLink]="['/admin-blog']">Admin Paneli</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Blog Güncelleme</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<div class="container mb-4">
    <h3 class="text-center">Blog Güncelleme Sayfası</h3>
    <form>
        <div class="mb-3">
            <label class="form-label">Başlık</label>
            <input type="text" class="form-control" value="{{blog.header}}" />
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="product.SmallDescp">İçerik</label>
            <input type="text" class="form-control" value="{{blog.body}}" />
        </div>
        <div class="mb-3">
            <label class="form-label" asp-for="product.Description">Fotoğraf</label>
            <input type="text" class="form-control" value="{{blog.pictureUrl}}" />
        </div>
        <button type="submit" class="btn btn-primary">Güncelle</button>
    </form>
</div>