<app-admin-navbar></app-admin-navbar>

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Blog Güncelleme Sayfası</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" [routerLink]="['/admin-blog']">Admin Paneli</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Blog Güncelleme</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<div *ngIf="blog.id" class="edit-form mb-4">
    <form>
        <div class="form-group">
            <label for="title">Başlık</label>
            <input type="text" class="form-control" id="title" [(ngModel)]="blog.header" name="title" />
        </div>
        <div class="form-group">
            <label for="pictureUrl">Fotoğraf</label>
            <input type="text" class="form-control" id="pictureUrl" [(ngModel)]="blog.pictureUrl" name="pictureUrl" />
        </div>
        <div class="form-group">
            <label for="description">İçerik</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="blog.body" name="description" />
        </div>
    </form>

    <button type="submit" class="badge-success" (click)="updateBlog()">
        Güncelle
      </button>
    <p>{{ message }}</p>
</div>