<!-- Page Header Start -->
<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">About Us</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" href="">Home</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">About Us</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- About Start -->
<div class="container py-5">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <img class="img-fluid mb-4 mb-lg-0" src="./assets/img/about.jpg" alt="Image">
        </div>
        <div class="col-lg-6">
            <h2 class="display-4 font-weight-bold mb-4">15 Yıllık Tecrübe</h2>
            <p>Salonumuz, yıllardır aktif bir spor hayatına sahip, hem baş antrenör hem de salonun sahibi olan Hakan Yıldız tarafından işletilmektedir. Salonumuzda diğer spor salonlarının aksine üyelik aidatı dışında herhangi ek bir ücret talep edilmeden
                amacınıza özel antrenman ve beslenme programı oluşturulup gelişiminiz takip edilir.</p>
            <div class="row py-2">
                <div class="col-sm-6">
                    <i class="flaticon-barbell display-2 text-primary"></i>
                    <h4 class="font-weight-bold">Sertifakalı Spor Salonu</h4>
                    <p>Salonumuzda eğitim almış, sertifikası bulunan uzman antrenörlerimiz size hizmet sunmaktan mutluluk duyar.</p>
                </div>
                <div class="col-sm-6">
                    <i class="flaticon-medal display-2 text-primary"></i>
                    <h4 class="font-weight-bold">Ödüller</h4>
                    <p>Bu salonda Avrupa ve Dünya şampiyonası kategorilerinde ülkemizi temsil etmiş sporcuların antrenman yaptığını biliyor muydunuz ? <br> Hadi sizde bize katılın ve kendi hikayenizi yazmaya başlayın...</p>
                </div>
            </div>
            <a href="" class="btn btn-lg px-4 btn-outline-primary">Daha Fazlası...</a>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Features Start -->
<div class="container-fluid my-5">
    <div class="row">
        <div class="col-lg-4 p-0">
            <div class="d-flex align-items-center bg-secondary text-white px-5" style="min-height: 300px;">
                <i class="flaticon-training display-3 text-primary mr-3"></i>
                <div class="">
                    <h2 class="text-white mb-3">Planlama</h2>
                    <p>Amacınıza uygun planı uzman ekibimizle belirleyin ve hayalinizdeki vücuda ulaşmak için ilk adımı atın!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 p-0">
            <div class="d-flex align-items-center bg-primary text-white px-5" style="min-height: 300px;">
                <i class="flaticon-weightlifting display-3 text-secondary mr-3"></i>
                <div class="">
                    <h2 class="text-white mb-3">Antrenman Programı</h2>
                    <p>Antrenman planlarken, kas kuvvetini arttırmak ne kadar önemli ise, kaslar arası kuvvet oranını korumak da o derecede önemlidir. Antrenman planlaması uzman bir görüşe sahip olmalıdır. Salonumuzda ek bir ücret talep edilmeden amacınıza
                        uygun antrenman planı hazırlanır.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 p-0">
            <div class="d-flex align-items-center bg-secondary text-white px-5" style="min-height: 300px;">
                <i class="flaticon-treadmill display-3 text-primary mr-3"></i>
                <div class="">
                    <h2 class="text-white mb-3">Beslenme</h2>
                    <p>Antrenman yapmak ne kadar önemli olsa da beslenmeyle desteklenmedikçe motivasyon kaybı kaçınılmazdır. En büyük motivasyon olan gelişime şahit olmak istiyorsanız salonumuzda ücretsiz bir şekilde kişiye özel beslenme programı oluşturulur.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Features End -->


<!-- Team Start -->
<div class="container pt-5 team">
    <div class="d-flex flex-column text-center mb-5">
        <h4 class="text-primary font-weight-bold">Our Trainers</h4>
        <h4 class="display-4 font-weight-bold">Meet Our Expert Trainers</h4>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 mb-5">
            <div class="card border-0 bg-secondary text-center text-white">
                <img class="card-img-top" src="./assets/img/team-1.jpg" alt="">
                <div class="card-social d-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="card-body bg-secondary">
                    <h4 class="card-title text-primary">Trainer Name</h4>
                    <p class="card-text">Trainer</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <div class="card border-0 bg-secondary text-center text-white">
                <img class="card-img-top" src="./assets/img/team-2.jpg" alt="">
                <div class="card-social d-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="card-body bg-secondary">
                    <h4 class="card-title text-primary">Trainer Name</h4>
                    <p class="card-text">Trainer</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <div class="card border-0 bg-secondary text-center text-white">
                <img class="card-img-top" src="./assets/img/team-3.jpg" alt="">
                <div class="card-social d-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="card-body bg-secondary">
                    <h4 class="card-title text-primary">Trainer Name</h4>
                    <p class="card-text">Trainer</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5">
            <div class="card border-0 bg-secondary text-center text-white">
                <img class="card-img-top" src="./assets/img/team-4.jpg" alt="">
                <div class="card-social d-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="card-body bg-secondary">
                    <h4 class="card-title text-primary">Trainer Name</h4>
                    <p class="card-text">Trainer</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->