<div class="footer container-fluid mt-5 py-5 px-sm-3 px-md-5 text-white">
    <div class="row pt-5 ml-5-footer">
        <div class="col-lg-3 col-md-6 mb-5 ml-5">
            <h4 class="text-primary mb-4">Takipte Kalın!</h4>
            <p><i class="fa fa-map-marker mr-2"></i>Papuççular, Değirmenhan Sk. No:8/A, 54100 Adapazarı/Sakarya</p>
            <p><i class="fa fa-phone mr-2"></i>+90 545 940 1074</p>
            <p><i class="fa fa-envelope-o mr-2"></i>arenagym@gmail.com</p>
            <div class="d-flex justify-content-start mt-4 ml-5">
                <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0 ml-4" style="width: 40px; height: 40px;" href="http://wa.me/message/BL7R6MWJXWFQO1"><i class="fab fa-whatsapp"></i></a>
                <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0 ml-2" style="width: 40px; height: 40px;" href="https://www.instagram.com/arenasporsalonu"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 ml-5">
            <h4 class="text-primary mb-4">Hızlı Linkler</h4>
            <div class="d-flex flex-column justify-content-start">
                <a class="text-white mb-2" [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-angle-right mr-2"></i>Anasayfa</a>
                <a class="text-white mb-2" [routerLink]="['/aboutUs']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-angle-right mr-2"></i>Hakkımızda</a>
                <a class="text-white mb-2" [routerLink]="['/services']" [routerLinkActive]="['active']"><i class="fa fa-angle-right mr-2"></i>Hizmetlerimiz</a>
                <a class="text-white mb-2" [routerLink]="['/gallery']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><i class="fa fa-angle-right mr-2"></i>Galeri</a>
                <a class="text-white mb-2" [routerLink]="['/blog']" [routerLinkActive]="['active']"><i class="fa fa-angle-right mr-2"></i>Bloglarımızı</a>
                <a class="text-white" [routerLink]="['/contact']" [routerLinkActive]="['active']"><i class="fa fa-angle-right mr-2"></i>İletişim</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 ml-5">
            <h4 class="text-primary mb-4">Çalışma Saatlerimiz</h4>
            <h5 class="text-white">Hafta içi</h5>
            <p>10.30-24.00</p>
            <h5 class="text-white">Cumartesi</h5>
            <p>10.30-22.00</p>
            <h5 class="text-white">Pazar</h5>
            <p>12.00-20.00</p>
        </div>
    </div>
    <div class="container border-top border-dark pt-5">
        <p class="m-0 text-center text-white">
            &copy; <a class="text-white font-weight-bold" href="#">Arena Spor Salonu</a>
        </p>
    </div>
</div>