.schedule-wrap {
    padding: 40px;
    bottom: 30px;
    background: #f23a2e;
    max-width: 700px;
    position: relative;
    z-index: 9;
    color: white;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.schedule-wrap:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: inherit;
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: skew(-12deg, 0deg);
    -ms-transform: skew(-12deg, 0deg);
    transform: skew(-12deg, 0deg);
}

.d-md-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.mr-md-4,
.mx-md-4 {
    margin-right: 1.5rem!important;
}

.mb-4,
.my-4 {
    margin-bottom: 1.5rem!important;
}

.ml-auto,
.mx-auto {
    margin-left: auto!important;
}

.schedule-wrap strong {
    color: #fff;
    font-weight: bold;
}

.d-block {
    display: block!important;
}

b,
strong {
    font-weight: bolder;
}

.mb-lg-0,
.my-lg-0 {
    margin-bottom: 0!important;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    border-width: 2px;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.schedule-wrap .cta a {
    text-align: center;
    background: #f89d13;
    color: #fff;
    padding: 10px 20px;
}

.ml-5 {
    margin-left: 16rem!important;
}