<!-- Carousel Start -->
<div class="container-fluid p-0">
    <div id="blog-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="./assets/img/carousel-1.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <h3 class="text-primary text-capitalize m-0">Gym & Fitness Center</h3>
                    <h2 class="display-2 m-0 mt-2 mt-md-4 text-white font-weight-bold text-capitalize">Şehirdeki En İyi Spor Salonu</h2>
                    <a [routerLink]="['/contact']" routerLinkActive="router-link-active" class="btn btn-lg btn-outline-light mt-3 mt-md-5 py-md-3 px-md-5">Bize Katıl</a>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="./assets/img/carousel-2.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <h3 class="text-primary text-capitalize m-0">Gym & Fitness Center</h3>
                    <h2 class="display-2 m-0 mt-2 mt-md-4 text-white font-weight-bold text-capitalize">İstediğin Formu Arena İle Yakala!</h2>
                    <a [routerLink]="['/contact']" routerLinkActive="router-link-active" class="btn btn-lg btn-outline-light mt-3 mt-md-5 py-md-3 px-md-5">Bize Katıl</a>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#blog-carousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#blog-carousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
        <div class="schedule-wrap">
            <div class="d-md-flex align-items-center">
                <div class="hours mr-md-4 mb-4 mb-lg-0">
                    <p class="d-block">Çalışma Saatlerimiz</p> <br>
                    <p class="d-block">Hafta içi : 10.30-24.00<br>Cumartesi : 10-30-22.00 <br>Pazar : 12.00-20.00</p>
                </div>
                <div class="cta ml-auto">
                    <a href="http://wa.me/message/BL7R6MWJXWFQO1" class="smoothscroll d-flex d-md-flex align-items-center btn">
                        <span class="mx-auto">  <span>Bizimle İletişime Geçin</span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->



<div class="container gym-class mb-5">
    <div class="row px-3">
        <div class="col-md-6 p-0">
            <div class="gym-class-box d-flex flex-column align-items-end justify-content-center bg-primary text-right text-white py-5 px-5">
                <i class="flaticon-six-pack"></i>
                <h3 class="display-4 mb-3 text-white font-weight-bold">Vücut Geliştirme</h3>
                <p>
                    Vücut geliştirme, çoğunlukla ağırlık kaldırarak ve kas kütlesini artışını destekleyecek şekilde beslenerek vücut şekillendirme amaçlanan bir spor dalıdır. Eğer vücut geliştirme hayaliniz varsa uzman ekibiyle Arena Spor Salonu tam aradığınız yer.
                </p>
                <a [routerLink]="['/contact']" routerLinkActive="router-link-active" class="btn btn-lg btn-outline-light mt-4 px-4">Bize Katıl</a>
            </div>
        </div>
        <div class="col-md-6 p-0">
            <div class="gym-class-box d-flex flex-column align-items-start justify-content-center bg-secondary text-left text-white py-5 px-5">
                <i class="flaticon-bodybuilding"></i>
                <h3 class="display-4 mb-3 text-white font-weight-bold">Sağlıklı Yaşam</h3>
                <p>
                    Bizce sağlıklı yaşamanın ilk adımı spor yapmaktır ve spor yapmak vücuttan daha çok mental olarak ruhunuza iyi gelir. Spor yaparken yapılan en büyük hata diyetten uzak bir yol çizmektir. Bu sporu yaparken nasıl bir antrenman programı uygulamalısınız ya
                    da nasıl beslenmelisiniz gibi sorular hakkında herhangi bir fikriniz yoksa ek ücret talep etmeden spor salonumuzda size danışmanlık hizmeti sunmaktan memnuniyet duyarız.
                </p>
                <a [routerLink]="['/contact']" routerLinkActive="router-link-active" class="btn btn-lg btn-outline-light mt-4 px-4">Bize Katıl</a>
            </div>
        </div>
    </div>
</div>






<div class="container feature pt-5">
    <div class="d-flex flex-column text-center mb-5">
        <h4 class="text-primary font-weight-bold">Neden Bizi Seçmelisiniz ?</h4>
        <h4 class="display-4 font-weight-bold">Bize Katılmanızın Faydaları</h4>
    </div>
    <div class="row">
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <img class="img-fluid mb-3 mb-sm-0" src="./assets/img/feature-1.jpg" alt="Image">
                    <i class="flaticon-barbell"></i>
                </div>
                <div class="col-sm-7">
                    <h4 class="font-weight-bold">Spor Yapmanın İdeal Adresi</h4>
                    <p>Salonumuzda bulunan fonksiyonel rackler, 3 adet dumbell seti, zengin plaka çeşitliliği ve daha bir sürü ileri seviye spor makineleri ile hiç sıra beklemeden idmanınızı yapıp; günlük temizliği yapılan soyunma odamızda duşunuzu alabilirsiniz.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <img class="img-fluid mb-3 mb-sm-0" src="./assets/img/feature-2.jpg" alt="Image">
                    <i class="flaticon-training"></i>
                </div>
                <div class="col-sm-7">
                    <h4 class="font-weight-bold">Ücretsiz Antrenman Programı</h4>
                    <p>Salonumuzda herhangi ek bir ücret talep edilmeksizin amacınıza özel antrenman program oluşturulur ve programdaki her hareket uzman ekibimiz tarafından size gösterilir. Böylelikle olası sakatlanmalardan olabildiğince uzak bir şekilde
                        amacınıza ulaşabilirsiniz.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <img class="img-fluid mb-3 mb-sm-0" src="./assets/img/feature-3.jpg" alt="Image">
                    <i class="flaticon-trends"></i>
                </div>
                <div class="col-sm-7">
                    <h4 class="font-weight-bold">Ücretsiz Beslenem Programı</h4>
                    <p>Spor yapan kişilerin enerji ve besin ögesi ihtiyaçları daha fazla olur. Egzersizin şiddeti, süresi ve şekli beslenme ihtiyacımızı direkt etkiler.Salonumuzda amacınıza uygun ücretsiz beslenme programınız oluşturulur.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <img class="img-fluid mb-3 mb-sm-0" src="./assets/img/feature-4.jpg" alt="Image">
                    <i class="flaticon-support"></i>
                </div>
                <div class="col-sm-7">
                    <h4 class="font-weight-bold">İşi Ehlinden Öğrenin</h4>
                    <p>Sağlıklı Yaşamın ilk adımı olan spor yapmak, uzman gözetmeninde yapılmalıdır. Bunun için Arena Spor Salonu tecrübeli ekibiyle sizi amacınıza ulaştırmak için burada!</p>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- BMI Calculation Start -->
<div class="container-fluid position-relative bmi my-5" style="margin: 60px;">
    <div class="container">
        <div class="row px-3 align-items-center">
            <div class="col-md-6">
                <div class="pr-md-3 d-none d-md-block">
                    <h4 class="text-primary">Body Mass Index </h4>
                    <h4 class="display-4 text-white font-weight-bold mb-4">Whate is BMI?</h4>
                    <p class="m-0 text-white">Vero elitr lorem magna justo magna justo at justo est ipsum sed clita lorem dolor ipsum sed. Lorem sea lorem vero. Sanct dolor clita clita rebum kasd magna erat diam</p>
                </div>
            </div>
            <div class="col-md-6 bg-secondary py-5">
                <div class="py-5 px-3">
                    <h1 class="mb-4 text-white">Calculate your BMI</h1>
                    <form>
                        <div class="form-row">
                            <div class="col form-group">
                                <input type="text" class="form-control form-control-lg bg-dark text-white" placeholder="Weight (KG)">
                            </div>
                            <div class="col form-group">
                                <input type="text" class="form-control form-control-lg bg-dark text-white" placeholder="Height (CM)">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <input type="text" class="form-control form-control-lg bg-dark text-white" placeholder="Age">
                            </div>
                            <div class="col form-group">
                                <select class="custom-select custom-select-lg bg-dark text-muted">
                                    <option>Gender</option>
                                    <option>Mal</option>
                                    <option>Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <input type="button" class="btn btn-lg btn-block btn-dark border-light" value="Calculate Now">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BMI Calculation End -->


<!-- Team Start -->
<div class="container pt-5 team">
    <div class="d-flex flex-column text-center mb-5">
        <h4 class="text-primary font-weight-bold">Antrenörlerimiz</h4>
        <h4 class="display-4 font-weight-bold">Uzman Antrenör Kadromuzla Tanışın!</h4>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 mb-5 ml-5">
            <div class="card border-0 bg-secondary text-center text-white">
                <img class="card-img-top" src="./assets/img/team-1.jpg" alt="">
                <div class="card-social d-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="card-body bg-secondary">
                    <h4 class="card-title text-primary">Antrenör İsmi</h4>
                    <p class="card-text">Antrenör</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-5 ml-4">
            <div class="card border-0 bg-secondary text-center text-white">
                <img class="card-img-top" src="./assets/img/team-2.jpg" alt="">
                <div class="card-social d-flex align-items-center justify-content-center">
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light rounded-circle text-center mr-2 px-0" style="width: 40px; height: 40px;" href="#"><i class="fab fa-instagram"></i></a>
                </div>
                <div class="card-body bg-secondary">
                    <h4 class="card-title text-primary">Antrenör İsmi</h4>
                    <p class="card-text">Antrenör</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->


<!-- Testimonial Start -->
<div class="container-fluid position-relative testimonial my-5">
    <div class="container">
        <div class="row px-3 align-items-center">
            <div class="col-md-6 bg-secondary">
                <div class="d-flex align-items-center px-3" style="min-height: 450px;">
                    <div id="carouselId" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselId" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselId" data-slide-to="1"></li>
                            <li data-target="#carouselId" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="d-flex align-items-center mb-4 text-white">
                                    <img width="80" height="80" class="rounded-circle bg-dark p-2" src="./assets/img/testimonial-1.jpg" alt="Image">
                                    <div class="pl-4">
                                        <h4 class="text-primary">Client Name</h4>
                                        <p class="m-0">Profession</p>
                                    </div>
                                </div>
                                <div class="testimonial-text position-relative border bg-dark text-white mb-5 p-4">
                                    Sed ea amet kasd elitr stet nonumy, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolores tempor voluptua ipsum sanctus clita
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex align-items-center mb-4 text-white">
                                    <img width="80" height="80" class="rounded-circle bg-dark p-2" src="./assets/img/testimonial-2.jpg" alt="Image">
                                    <div class="pl-4">
                                        <h4 class="text-primary">Client Name</h4>
                                        <p class="m-0">Profession</p>
                                    </div>
                                </div>
                                <div class="testimonial-text position-relative border bg-dark text-white mb-5 p-4">
                                    Sed ea amet kasd elitr stet nonumy, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolores tempor voluptua ipsum sanctus clita
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="d-flex align-items-center mb-4 text-white">
                                    <img width="80" height="80" class="rounded-circle bg-dark p-2" src="./assets/img/testimonial-3.jpg" alt="Image">
                                    <div class="pl-4">
                                        <h4 class="text-primary">Client Name</h4>
                                        <p class="m-0">Profession</p>
                                    </div>
                                </div>
                                <div class="testimonial-text position-relative border bg-dark text-white mb-5 p-4">
                                    Sed ea amet kasd elitr stet nonumy, stet rebum et ipsum est duo elitr eirmod clita lorem. Dolores tempor voluptua ipsum sanctus clita
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pl-md-3 d-none d-md-block">
                    <h4 class="text-primary">Testimonial</h4>
                    <h4 class="display-4 mb-4 text-white font-weight-bold">What Our Clients Say?</h4>
                    <p class="m-0 text-white">Vero elitr lorem magna justo magna justo at justo est ipsum sed clita lorem dolor ipsum sed. Lorem sea lorem vero. Sanct dolor clita clita rebum kasd magna erat diam</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->


<div class="container pt-5">
    <div class="d-flex flex-column text-center mb-5">
        <h4 class="text-primary font-weight-bold">Bloglarımız</h4>
        <h4 class="display-4 font-weight-bold">En Son Yayınlanan Bloglar</h4>
    </div>
    <div class="row">
        <div class="col-lg-6 mb-5 blog-item">
            <img class="img-fluid mb-4" src="./assets/img/blog-1.jpg" alt="Image">
            <div class="d-flex align-items-center mb-4">
                <div class="d-flex flex-column align-items-center justify-content-center rounded-circle bg-primary text-white" style="width: 80px; height: 80px;">
                    <small>01</small>
                    <strong class="text-uppercase m-0 text-white">Jan</strong>
                    <small>2045</small>
                </div>
            </div>
            <p>Eos kasd et sea labore. Et sed amet magna elitr amet, stet et amet erat nonumy labore lorem ut eos, sed ut at tempor diam no. Kasd sit ea amet lorem et sea, ipsum sed dolor dolores sed dolore eirmod vero dolor sed kasd accusam</p>
            <a class="btn btn-outline-primary mt-2 px-3" href="">Daha Fazlası <i class="fa fa-angle-right"></i></a>
        </div>
        <div class="col-lg-6 mb-5 blog-item">
            <img class="img-fluid mb-4" src="./assets/img/blog-2.jpg" alt="Image">
            <div class="d-flex align-items-center mb-4">
                <div class="d-flex flex-column align-items-center justify-content-center rounded-circle bg-primary text-white" style="width: 80px; height: 80px;">
                    <small>01</small>
                    <strong class="text-uppercase m-0 text-white">Jan</strong>
                    <small>2045</small>
                </div>
            </div>
            <p>Eos kasd et sea labore. Et sed amet magna elitr amet, stet et amet erat nonumy labore lorem ut eos, sed ut at tempor diam no. Kasd sit ea amet lorem et sea, ipsum sed dolor dolores sed dolore eirmod vero dolor sed kasd accusam</p>
            <a class="btn btn-outline-primary mt-2 px-3" href="">Daha Fazlası <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</div>