<!-- Navbar Start -->
<div class="container-fluid p-0 nav-bar">
    <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
        <a href="" class="navbar-brand">
            <h1 class="m-0 display-4 font-weight-bold text-uppercase text-white">Admin Paneli</h1>
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav ml-auto p-4 bg-secondary">
                <a class="nav-item nav-link">Fiyatlar</a>
                <a class="nav-item nav-link">Galeri</a>
                <a class="nav-item nav-link" href="">Anasayfaya Geri Dön</a>
            </div>
        </div>
    </nav>
</div>
<!-- Navbar End -->