<!-- Page Header Start -->
<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Hizmetlerimiz</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" href="">Ansasayfa</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Hizmetlerimiz</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<h1 class="our_price"><strong>HİZMETLERİMİZ</strong></h1>
<div class="container-fluid mx-auto mt-5 mb-5 col-10">
    <div class="row" style="justify-content: center">
        <div class="card col-md-3 col-9">
            <div class="ftco-feature-1">
                <span class="icon flaticon-fit"></span>
                <div class="ftco-feature-1-text">
                    <h2>Be Fit</h2><br>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    </p>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-9 ml-3">
            <div class="ftco-feature-1">
                <span class="icon flaticon-gym-1"></span>
                <div class="ftco-feature-1-text">
                    <h2>Join Club</h2><br>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    </p>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-9 ml-3">
            <div class="ftco-feature-1">
                <span class="icon flaticon-gym"></span>
                <div class="ftco-feature-1-text">
                    <h2>Gym Fitness</h2><br>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    </p>
                </div>
            </div>
        </div>

        <div class="card col-md-3 col-9 mt-3">
            <div class="ftco-feature-1">
                <span class="icon flaticon-vegetables"></span>
                <div class="ftco-feature-1-text">
                    <h2>Eat Vegie</h2><br>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    </p>
                </div>
            </div>
        </div>

        <div class="card col-md-3 col-9 ml-3 mt-3">
            <div class="ftco-feature-1">
                <span class="icon flaticon-fruit-juice"></span>
                <div class="ftco-feature-1-text">
                    <h2>Fruit Juices</h2><br>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    </p>
                </div>
            </div>
        </div>

        <div class="card col-md-3 col-9 ml-3 mt-3">
            <div class="ftco-feature-1">
                <span class="icon flaticon-stationary-bike"></span>
                <div class="ftco-feature-1-text">
                    <h2>Body Warmup</h2><br>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>







<h1 class="our_price"><strong>FİYATLARIMIZ</strong></h1> <br>

<div class="pricing">
    <div class="w3l-pricing-grids">
        <div class="agileits-pricing-grid first">
            <div class="pricing_grid">
                <div class="wthree-pricing-info pricing-top">
                    <h3>Aylık Üyelik</h3>
                    <p><span>280</span> ₺</p>
                </div>
                <div class="pricing-bottom">
                    <div class="pricing-bottom-bottom">
                        <p><span class="fa fa-check"></span><span>Training</span> Overview</p>
                        <p><span class="fa fa-times"></span><span>Beginner </span> Classes</p>
                        <p><span class="fa fa-times"></span><span>Personal </span> Training</p>
                        <p><span class="fa fa-times"></span><span>Olympic </span> weightlifting</p>
                        <p class="text"><span class="fa fa-times"></span><span>Foundation</span> Training</p>
                    </div>
                    <div class="buy-button">
                        <a class="popup-with-zoom-anim" href="#small-dialog">Bizimle İletişime Geçin</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="agileits-pricing-grid second">
            <div class="pricing_grid">
                <div class="wthree-pricing-info pricing-top blue-top">
                    <h3>3 Aylık Üyelik</h3>
                    <p><span>500</span> ₺</p>
                </div>
                <div class="pricing-bottom">
                    <div class="pricing-bottom-bottom blue-pricing-bottom-top">
                        <p><span class="fa fa-check"></span><span>Training</span> Overview</p>
                        <p><span class="fa fa-check"></span><span>Beginner </span> Classes</p>
                        <p><span class="fa fa-times"></span><span>Personal </span> Training</p>
                        <p><span class="fa fa-times"></span><span>Olympic </span> weightlifting</p>
                        <p class="text"><span class="fa fa-times"></span><span>Foundation</span> Training</p>
                    </div>
                    <div class="buy-button">
                        <a class="popup-with-zoom-anim" href="#small-dialog">Bizimle İletişime Geçin</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="agileits-pricing-grid third">
            <div class="pricing_grid">
                <div class="wthree-pricing-info pricing-top green-top">
                    <h3>6 Aylık Üyelik</h3>
                    <p><span>600</span> ₺</p>
                </div>
                <div class="pricing-bottom">
                    <div class="pricing-bottom-bottom green-pricing-bottom-top">
                        <p><span class="fa fa-check"></span><span>Training</span> Overview</p>
                        <p><span class="fa fa-check"></span><span>Beginner </span> Classes</p>
                        <p><span class="fa fa-check"></span><span>Personal </span> Training</p>
                        <p><span class="fa fa-times"></span><span>Olympic </span> weightlifting</p>
                        <p class="text"><span class="fa fa-times"></span><span>Foundation</span> Training</p>
                    </div>
                    <div class="buy-button">
                        <a class="popup-with-zoom-anim" href="#small-dialog">Bizimle İletişime Geçin</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="agileits-pricing-grid fourth">
            <div class="pricing_grid">
                <div class="wthree-pricing-info pricing-top yellow-top">
                    <h3>Senelik Üyelik</h3>
                    <p><span>2400</span> ₺</p>
                </div>
                <div class="pricing-bottom">
                    <div class="pricing-bottom-bottom yellow-pricing-bottom-top">
                        <p><span class="fa fa-check"></span><span>Training</span> Overview</p>
                        <p><span class="fa fa-check"></span><span>Beginner </span> Classes</p>
                        <p><span class="fa fa-check"></span><span>Personal </span> Training</p>
                        <p><span class="fa fa-check"></span><span>Olympic </span> weightlifting</p>
                        <p class="text"><span class="fa fa-check"></span><span>Foundation</span> Training</p>
                    </div>
                    <div class="buy-button">
                        <a class="popup-with-zoom-anim" href="#small-dialog">Bizimle İletişime Geçin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>