<app-nav-bar>

</app-nav-bar>

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Hizmetlerimiz</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" href="">Ansasayfa</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Hizmetlerimiz</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<h1 class="our_price"><strong>HİZMETLERİMİZ</strong></h1>
<div class="container-fluid mx-auto mt-5 mb-5 col-10">
    <div class="row" style="justify-content: center">
        <div class="card col-md-3 col-9">
            <div class="ftco-feature-1">
                <span class="icon flaticon-fit"></span>
                <div class="ftco-feature-1-text">
                    <h2>Fit Olun!</h2><br>
                    <p>Fit vücut nasıl yapılır diyorsanız mutlaka proteini es geçmeyin. Günde 1 bardak süt, 1 kase yoğurt, peynir, kefir ve diğer süt ürünleriyle hem kemiklerinizi güçlendirir hem de fit vücut için kendinize iyilik yaparsınız.
                    </p>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-9 ml-3">
            <div class="ftco-feature-1">
                <span class="icon flaticon-gym-1"></span>
                <div class="ftco-feature-1-text">
                    <h2>Bize Katılın</h2><br>
                    <p>Hayalinizdeki vücuda nasıl ulaşacağınız konusunda bir fikriniz yok ve yardım almak istiyorsanız bize katılın amacınız doğrultusunda beslenme ve antrenman programınızı ücretsiz hazırlayalım.
                    </p>
                </div>
            </div>
        </div>
        <div class="card col-md-3 col-9 ml-3">
            <div class="ftco-feature-1">
                <span class="icon flaticon-gym"></span>
                <div class="ftco-feature-1-text">
                    <h2>Vücut Geliştirme ve Fitness</h2><br>
                    <p>Vücut geliştirmek için spor salonuna gidenlerin temel amacı yüksek ağırlıkla ile egzersizler yapmaktır. Ağırlık kaldırıldığında vücut güçlenir ve kas kütlesi oluşturur. Bununla birlikte, fitness kavramı bundan farklıdır. Fitness, kas
                        büyümesinden ziyade aktif ve sağlıklı kalmayı hedeflemektir.
                    </p>
                </div>
            </div>
        </div>

        <div class="card col-md-3 col-9 mt-3">
            <div class="ftco-feature-1">
                <span class="icon flaticon-vegetables"></span>
                <div class="ftco-feature-1-text">
                    <h2>Temiz Beslenin</h2><br>
                    <p>Fit bir vücut için beslenme programınızda tam tahıllı gıdalar olsun. Böylece daha hızlı yağ yakarsınız. Günlük ihtiyacınız olan karbonhidratı da tahıllardan sağlamış olursunuz. </p>
                </div>
            </div>
        </div>

        <div class="card col-md-3 col-9 ml-3 mt-3">
            <div class="ftco-feature-1">
                <span class="icon flaticon-fruit-juice"></span>
                <div class="ftco-feature-1-text">
                    <h2>Sertifikalarımız</h2><br>
                    <p>
                        Salonumuzda sertifika sahibi antrenörlerimiz size hizmet sunmaktan memnuniyet duyar.
                    </p>
                </div>
            </div>
        </div>

        <div class="card col-md-3 col-9 ml-3 mt-3">
            <div class="ftco-feature-1">
                <span class="icon flaticon-stationary-bike"></span>
                <div class="ftco-feature-1-text">
                    <h2>Isınma</h2>
                    <p>Egzersiz öncesi ısınmak son derece önemlidir. Isınmadan önce egzersiz yapmak, sakatlıklara yol açabilirken yaptığınız egzersizin verim kalitesini de etkileyebilir. Bu yüzden salonumuzdaki kardiyo ekipmanlarıyla ısınıp dilerseniz yağ
                        yakabilirsiniz.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>

<h1 class="our_price"><strong>FİYATLARIMIZ</strong></h1> <br>

<div class="pricing">
    <div class="w3l-pricing-grids">
        <div class="agileits-pricing-grid first">
            <div class="pricing_grid">
                <div class="wthree-pricing-info pricing-top">
                    <h3>Aylık Üyelik</h3>
                    <p><span>{{price.priceForMonth}}</span> ₺</p>
                </div>
                <div class="pricing-bottom">
                    <div class="pricing-bottom-bottom">
                        <p><span class="fa fa-check"></span><span>Eğitmenlik</span></p>
                        <p><span class="fa fa-check"></span><span>Antrenman Programı</span></p>
                        <p><span class="fa fa-check"></span><span>Beslenme Programı</span></p>
                        <p><span class="fa fa-check"></span><span>Duş İmkanı</span></p>
                    </div>
                    <div class="buy-button">
                        <a class="popup-with-zoom-anim" href="http://wa.me/message/BL7R6MWJXWFQO1">Bizimle İletişime Geçin</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="agileits-pricing-grid second">
            <div class="pricing_grid">
                <div class="wthree-pricing-info pricing-top blue-top">
                    <h3>3 Aylık Üyelik</h3>
                    <p><span>{{price.priceForThreeMonth}}</span> ₺</p>
                </div>
                <div class="pricing-bottom">
                    <div class="pricing-bottom-bottom blue-pricing-bottom-top">
                        <p><span class="fa fa-check"></span><span>Eğitmenlik</span> </p>
                        <p><span class="fa fa-check"></span><span>Antrenman Programı </span> </p>
                        <p><span class="fa fa-check"></span><span>Beslenme Programı</span></p>
                        <p><span class="fa fa-check"></span><span>Duş İmkanı</span></p>
                    </div>
                    <div class="buy-button">
                        <a class="popup-with-zoom-anim" href="http://wa.me/message/BL7R6MWJXWFQO1">Bizimle İletişime Geçin</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="agileits-pricing-grid third">
            <div class="pricing_grid">
                <div class="wthree-pricing-info pricing-top green-top">
                    <h3>6 Aylık Üyelik</h3>
                    <p><span>{{price.priceForSixMonths}}</span> ₺</p>
                </div>
                <div class="pricing-bottom">
                    <div class="pricing-bottom-bottom green-pricing-bottom-top">
                        <p><span class="fa fa-check"></span><span>Eğitmenlik</span> </p>
                        <p><span class="fa fa-check"></span><span>Antrenman Programı </span> </p>
                        <p><span class="fa fa-check"></span><span>Beslenme Programı</span></p>
                        <p><span class="fa fa-check"></span><span>Duş İmkanı</span></p>
                    </div>
                    <div class="buy-button">
                        <a class="popup-with-zoom-anim" href="http://wa.me/message/BL7R6MWJXWFQO1">Bizimle İletişime Geçin</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="agileits-pricing-grid fourth">
            <div class="pricing_grid">
                <div class="wthree-pricing-info pricing-top yellow-top">
                    <h3>Senelik Üyelik</h3>
                    <p><span>{{price.priceForYear}}</span> ₺</p>
                </div>
                <div class="pricing-bottom">
                    <div class="pricing-bottom-bottom yellow-pricing-bottom-top">
                        <p><span class="fa fa-check"></span><span>Eğitmenlik</span> </p>
                        <p><span class="fa fa-check"></span><span>Antrenman Programı </span> </p>
                        <p><span class="fa fa-check"></span><span>Beslenme Programı</span></p>
                        <p><span class="fa fa-check"></span><span>Duş İmkanı</span></p>
                    </div>
                    <div class="buy-button">
                        <a class="popup-with-zoom-anim" href="http://wa.me/message/BL7R6MWJXWFQO1">Bizimle İletişime Geçin</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>