.gallery-section {
    padding-bottom: 70px;
}

.spad {
    padding-top: 100px;
    padding-bottom: 100px;
}

.gallery-filter img {
    min-width: 100%;
    margin-bottom: 30px;
}

img {
    max-width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}