<app-nav-bar></app-nav-bar>


<!-- Page Header Start -->
<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Blog</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" href="">Anasayfa</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Blog</p>
        </div>
    </div>
</div>
<!-- Page Header End -->


<!-- Blog Start -->
<div class="container pt-5">
    <div class="d-flex flex-column text-center mb-5">
        <h4 class="text-primary font-weight-bold"></h4>
        <h4 class="display-4 font-weight-bold">Latest Article From Blog</h4>
    </div>
    <div class="row">
        <div class="col-lg-6 mb-5 blog-item" *ngFor="let item of blogs">
            <img class="img-fluid mb-4" src={{item.pictureUrl}} alt="Image">
            <div class="d-flex align-items-center mb-4">
                <div class="d-flex flex-column align-items-center justify-content-center rounded-circle bg-primary text-white" style="width: 90px; height: 85px;">
                    <small>{{item.createdDate.substring(0, item.createdDate.indexOf(","))}}</small>
                    <strong class="text-uppercase m-0 text-white">{{item.createdDate.substring(item.createdDate.indexOf(" "), item.createdDate.search("2022"))}}</strong>
                    <small>{{item.createdDate.substring(item.createdDate.search("2022"))}}</small>
                </div>
                <div class="pl-3">
                    <h3 class="font-weight-bold" style="color: black;">{{item.header}}</h3>
                </div>
            </div>
            <p>{{item.body}}</p>
        </div>
    </div>
</div>
<!-- Blog End -->



<app-footer></app-footer>